<link rel="stylesheet" href="~/css/jkanban.min.css">
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop"></i> Projeler</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Anasayfa</a></li>
                    <li><i class="fa fa-laptop"></i>Projeler</li>
                </ol>
            </div>
        </div>
        <div class="btn-group-toggle">
            <button class="btn btn-info" onclick="$('#AddProject').modal('show')" type="button"><span class="icon_plus_alt2"></span> Proje Ekle</button>
        </div>
        <div id="projectList" class="container-fluid">
        </div>

    </section>
</section>
<div class="modal fade" id="AddProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="/Project/Create" autocomplete="off">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Proje Ekle</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Proje Başlığı:</label>
                        <input type="text" class="form-control" name="Title" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Açıklama:</label>
                        <input type="text" class="form-control" name="Description" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Hedef Zamanı:</label>
                        <input type="date" name="GoalTime" class="form-control" id="GoalTime" required>

                    </div>

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Kapat</button>
                    <button class="btn btn-info" type="submit">Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="~/js/jkanban.min.js"></script>
<script>
    $('form').on('submit', (e) => {
        e.preventDefault();
        const body = new FormData(e.currentTarget);
        fetch(e.currentTarget.action, {
            method: 'post',
            body
        }).then(res => res.json()).then(res => {
            initData();
            Swal.fire(
                'Oluşturdu!',
                'Projeniz eklendi.',
                'success'
            )
            $('#AddProject').modal('hide');
        });
    })
</script>
<script>
    var kanban;
    $(() => initData());

    function initData() {
        fetch('/Project/ReadToAll')
            .then(res => res.json())
            .then(list => {
                kanban = new jKanban({
                    element: '#projectList',
                    addItemButton: true,
                    widthBoard: '350px',
                    click: function(el) {
                        console.log(el);
                        let itemid = $(el).attr('data-eid');
                        window.location = ('/Task/Index?Id=' + itemid)
                    },
                    dragendEl: function(el) {
                        console.log(el);
                        let itemid = $(el).attr('data-eid');
                        let statusid = $(el).parent().parent().attr('data-id').replace('status_', '');
                        fetch('/Project/UpdateStatus?itemId=' + itemid + '&statusid=' + statusid);
                    },
                    boards: [{
                        'id': 'status_0',
                        'title': 'Yapılacaklar',
                        'class': 'info',
                        'dragTo': ['status_1'],
                        'item': list.filter(f => f.status == 0).map(item => ({
                            'id': item.id,
                            'title': item.title
                        }))
                    }, {
                        'id': 'status_1',
                        'title': 'Yapılıyor',
                        'class': 'warning',
                        'item': list.filter(f => f.status == 1).map(item => ({
                            'id': item.id,
                            'title': item.title
                        }))
                    }, {
                        'id': 'status_2',
                        'title': 'Testte',
                        'class': 'success',
                        'item': list.filter(f => f.status == 2).map(item => ({
                            'id': item.id,
                            'title': item.title
                        }))
                    }, {
                        'id': 'status_3',
                        'title': 'Bitti',
                        'class': 'success',
                        'item': list.filter(f => f.status == 3).map(item => ({
                            'id': item.id,
                            'title': item.title
                        }))
                    }]
                });
            });
    }
</script>

}