@model IEnumerable<taskcore.Models.User>



<table class="table">
    <thead>
    <tr>
        <th scope="col">Ad </th>
        <th scope="col">Soyad</th>
        <th scope="col">Handle</th>
          <th scope="col">#</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {    <tr>

            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.Username</td>
            <td><button class="btn btn-danger" >Arkadaşlıktan çıkar</button></td>
                                                                            </tr>

        }
    
    </tbody>
</table>