@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
  <meta name="author" content="GeeksLabs">
  <meta name="keyword" content="">
  <link rel="shortcut icon" href="img/favicon.png">
  <title>Tasky | Project Management</title>

  <link href="~/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/css/bootstrap-theme.css" rel="stylesheet">
  <link href="~/css/elegant-icons-style.css" rel="stylesheet" />
  <link href="~/css/font-awesome.css" rel="stylesheet" />
  <link href="~/css/style.css" rel="stylesheet">
  <link href="~/css/style-responsive.css" rel="stylesheet" />

</head>

<body class="login-img3-body">

  <div class="container">

    <form class="login-form" action="/Account/Login" method="POST">
      <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_mail"></i></span>
          <input type="text" class="form-control" placeholder="Email" name="Email" required autofocus>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_key_alt"></i></span>
          <input type="password" class="form-control" placeholder="Parola" name="Password" required>
        </div>
        <label class="checkbox">
                <input type="checkbox" value="remember-me"> Beni Hatırla
                <span class="pull-right"> <a href="#"> Şifrenizi mi unuttunuz?</a></span>
            </label>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Giris Yap</button>
        <a class="btn btn-info btn-lg btn-block" asp-action="SignUp" type="button">Kayıt Ol</a>
      </div>
    </form>
  </div>


</body>

</html>
