@model IEnumerable<Tasky.Models.User>
@{
    int i =0,j=1;
}
    @foreach (var item in Model) {
        @if(i%3==0){@Html.Raw("<div class=\"card-group\">")}
        <div class="card mb-3 mr-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/img/pp.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="m-0 font-weight-bold text-primary">@item.Name @item.Surname</h5>
                        <h6 color="gray">&#64;@item.Username</h6>
                        <p class="card-text">@item.About</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        @if(j%3==0 || j == Model.Count()){@Html.Raw("</div>")}
        i++;
        j++;
    }
    <h6 class="text-gray-800 text-center">@Model.Count() adet sonuç bulundu</h6>
